.counterContainer {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 1rem;
}

.counterControls {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 0.625rem;
    border: none;
}

.counterBtn {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border: none;
    border-radius: 0.625rem;
    font-size: 1.3rem;
    user-select: none;
    background: transparent;
}

.counterValue {
    padding: 0 0.5rem;
    min-width: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    user-select: none;
}

.buyBtn {
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    background-color: rgba(202, 19, 105, 0.6);
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.buyBtn:hover {
    background-color: rgba(202, 19, 105, 1);
}
